.login-div{
    display: flex;
}

.login-div .input-div{
    height: 190px;
}

.login{
    width: 550px;
    height: 500px;
    margin: 20px auto 50px auto;
    position: relative;
    background: #f2d5c0;
    border: 1px solid black;
    border-radius: 3px; 
}

.login .link{
    cursor: pointer;
}




